<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="">
    <h1>本免練習問題</h1>
</div>

<form th:action="@{/submitHomen}" method="post" th:object="${homenQuestions}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th style="width: 70%" scope="col">問題</th>
            <th scope="col">答</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="homenQuestion, row : ${homenQuestions}">
            <th th:text="${homenQuestion.id}" scope="row"></th>
            <td th:text="${homenQuestion.question}" style="display: flex;"></td>
            <td>
                <div class="answer">
                    <input type="radio"
                           th:id="'true' + ${row.index}"
                           th:name="'homenQuestions[' + ${row.index} + '].userAnswer'"
                           th:value="'true'">
                    <label th:for="'true' + ${row.index}">正解</label>

                    <input type="radio"
                           th:id="'false' + ${row.index}"
                           th:name="'homenQuestions[' + ${row.index} + '].userAnswer'"
                           th:value="'false'">
                    <label th:for="'false' + ${row.index}">不正解</label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>
