<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<header>
    <h1> Quiz Game </h1>
    <button onclick="catAndQuest()" id="start"> START </button>
</header>
<div class="container">
    <div id="questions">
        <div id="count"></div>
        <div id="category"></div>
        <div id="quest"> </div>
        <button onclick="answer(true)" style="display:none;" id="answerT"> TRUE</button>
        <button onclick="answer(false)" style="display:none;" id="answerF"> FALSE</button>
        <div id="points"></div>
    </div>
    <div id="winner" style="display:none;">YOU PASS! <br>Congrats, smartypants!</div>
    <div id="looser" style="display:none;">Sorry, no more questions.<br> You Failed!</div>
    <button onclick="restart()" style="display:none;" id="reset"> TRY AGAIN? </button>
</div>


<!-- JavaScript -->
<script src="/js/quiz.js"></script>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>