<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mosoftvn - Register</title>
    <head th:replace="fragments/head :: head"></head>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<section class="vh-100" style="background-color: #eee;margin:-60px;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">Sign up</p>

                                <!-- Hiển thị thông báo lỗi nếu có -->
                                <p th:if="${param.error}" style="color: red;">Email already exists!</p>
                                <!-- Hiển thị thông báo thành công nếu có -->
                                <div th:if="${param.success}">
                                    <div class="alert alert-info"> You are successfull registered to our awsome app!</div>
                                </div>

                                <form class="mx-1 mx-md-4" action="/register" method="post" th:object="${user}">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input   autofocus="autofocus" type="name" id="name" class="form-control" name="name" required/>
                                            <label class="form-label" for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input   autofocus="autofocus" type="text" id="email" class="form-control" name="email" required />
                                            <label class="form-label" for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div th:if="${param.emailexist}">
                                        <div class="alert alert-info"> You email have exist please register other email</div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input  type="password" id="password" class="form-control" name="password" required/>
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-1">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="confirm" />
                                        <label class="form-check-label" for="confirm">I agree all statements in <a href="#!">Terms of service</a></label>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<h2>Register</h2>-->

<!--<form action="/register" method="post" th:object="${user}">-->

<!--    <label for="username">Email:</label>-->
<!--    <input type="text" id="username" name="username" required/>-->

<!--    <label for="password">Password:</label>-->
<!--    <input type="password" id="password" name="password" required/>-->

<!--    <button type="submit">Register</button>-->
<!--</form>-->
<!--<p th:if="${param.error}" style="color: red;">Username already exists!</p>-->
<!--<p th:if="${param.success}" style="color: green;">Registration successful! Please login.</p>-->





<a th:href="@{/}">Back to Home</a>


<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/script :: script"></div>
</body>
</html>
